In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('market_data.csv')

In [27]:
df.head()

,Y,Data,XAU BGNL,ECSURPUS,BDIY,CRY,DXY,JPY,GBP,Cl1,...,LP01TREU,EMUSTRUU,LF94TRUU,MXUS,MXEU,MXJP,MXBR,MXRU,MXIN,MXCN
0,0,1/11/2000,283.25,0.077,1388.0,157.26,100.56,105.86,1.646,25.77,...,116.464,230.527,123.762,1416.12,127.75,990.59,856.76,224.33,217.34,34.30
1,0,1/18/2000,287.65,0.043,1405.0,165.01,101.86,105.47,1.638,28.85,...,117.267,231.377,123.762,1428.79,129.50,993.98,925.22,234.37,227.08,32.74
2,0,1/25/2000,287.15,0.135,1368.0,167.24,102.41,106.04,1.650,28.28,...,117.995,232.390,123.762,1385.93,126.48,974.83,886.93,216.82,233.00,32.46
3,0,2/1/2000,282.75,0.191,1311.0,166.85,104.92,107.85,1.611,28.22,...,120.510,231.942,122.328,1385.31,129.19,1007.12,842.60,201.89,237.48,31.29
4,1,2/8/2000,298.40,0.312,1277.0,165.43,104.22,109.30,1.611,28.02,...,118.791,237.812,122.328,1411.95,134.67,1034.58,945.15,218.00,258.02,31.32

In [28]:
df.isnull().sum()

Y            0
Data         0
XAU BGNL     0
ECSURPUS     0
BDIY         0
CRY          0
DXY          0
JPY          0
GBP          0
Cl1          0
VIX          0
USGG30YR     0
GT10         0
USGG2YR      0
USGG3M       0
US0001M      0
GTDEM30Y     0
GTDEM10Y     0
GTDEM2Y      0
EONIA        0
GTITL30YR    0
GTITL10YR    0
GTITL2YR     0
GTJPY30YR    0
GTJPY10YR    0
GTJPY2YR     0
GTGBP30Y     0
GTGBP20Y     0
GTGBP2Y      0
LUMSTRUU     0
LMBITR       0
LUACTRUU     0
LF98TRUU     0
LG30TRUU     0
LP01TREU     0
EMUSTRUU     0
LF94TRUU     0
MXUS         0
MXEU         0
MXJP         0
MXBR         0
MXRU         0
MXIN         0
MXCN         0
dtype: int64

In [29]:
df.shape

(1111, 44)

In [30]:
df.columns

Index(['Y', 'Data', 'XAU BGNL', 'ECSURPUS', 'BDIY', 'CRY', 'DXY', 'JPY', 'GBP',
       'Cl1', 'VIX', 'USGG30YR', 'GT10', 'USGG2YR', 'USGG3M', 'US0001M',
       'GTDEM30Y', 'GTDEM10Y', 'GTDEM2Y', 'EONIA', 'GTITL30YR', 'GTITL10YR',
       'GTITL2YR', 'GTJPY30YR', 'GTJPY10YR', 'GTJPY2YR', 'GTGBP30Y',
       'GTGBP20Y', 'GTGBP2Y', 'LUMSTRUU', 'LMBITR', 'LUACTRUU', 'LF98TRUU',
       'LG30TRUU', 'LP01TREU', 'EMUSTRUU', 'LF94TRUU', 'MXUS', 'MXEU', 'MXJP',
       'MXBR', 'MXRU', 'MXIN', 'MXCN'],
      dtype='object')

In [31]:
df.columns.to_list()

['Y',
 'Data',
 'XAU BGNL',
 'ECSURPUS',
 'BDIY',
 'CRY',
 'DXY',
 'JPY',
 'GBP',
 'Cl1',
 'VIX',
 'USGG30YR',
 'GT10',
 'USGG2YR',
 'USGG3M',
 'US0001M',
 'GTDEM30Y',
 'GTDEM10Y',
 'GTDEM2Y',
 'EONIA',
 'GTITL30YR',
 'GTITL10YR',
 'GTITL2YR',
 'GTJPY30YR',
 'GTJPY10YR',
 'GTJPY2YR',
 'GTGBP30Y',
 'GTGBP20Y',
 'GTGBP2Y',
 'LUMSTRUU',
 'LMBITR',
 'LUACTRUU',
 'LF98TRUU',
 'LG30TRUU',
 'LP01TREU',
 'EMUSTRUU',
 'LF94TRUU',
 'MXUS',
 'MXEU',
 'MXJP',
 'MXBR',
 'MXRU',
 'MXIN',
 'MXCN']

In [34]:
df.head()

,Y,Data,XAU BGNL,ECSURPUS,BDIY,CRY,DXY,JPY,GBP,Cl1,...,LP01TREU,EMUSTRUU,LF94TRUU,MXUS,MXEU,MXJP,MXBR,MXRU,MXIN,MXCN
0,0,7,283.25,0.077,1388.0,157.26,100.56,105.86,1.646,25.77,...,116.464,230.527,123.762,1416.12,127.75,990.59,856.76,224.33,217.34,34.30
1,0,29,287.65,0.043,1405.0,165.01,101.86,105.47,1.638,28.85,...,117.267,231.377,123.762,1428.79,129.50,993.98,925.22,234.37,227.08,32.74
2,0,54,287.15,0.135,1368.0,167.24,102.41,106.04,1.650,28.28,...,117.995,232.390,123.762,1385.93,126.48,974.83,886.93,216.82,233.00,32.46
3,0,373,282.75,0.191,1311.0,166.85,104.92,107.85,1.611,28.22,...,120.510,231.942,122.328,1385.31,129.19,1007.12,842.60,201.89,237.48,31.29
4,1,456,298.40,0.312,1277.0,165.43,104.22,109.30,1.611,28.02,...,118.791,237.812,122.328,1411.95,134.67,1034.58,945.15,218.00,258.02,31.32

In [35]:
features = df.drop('Y', axis=1)

target = df['Y']

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [37]:
X_train

,Data,XAU BGNL,ECSURPUS,BDIY,CRY,DXY,JPY,GBP,Cl1,VIX,...,LP01TREU,EMUSTRUU,LF94TRUU,MXUS,MXEU,MXJP,MXBR,MXRU,MXIN,MXCN
865,1020,1340.08,0.195,631.0,181.4300,96.183,101.95,1.3010,42.77,11.66,...,350.4370,1030.744,327.3890,2078.64,116.35,796.57,1699.50,497.63,1061.84,59.36
993,47,1283.70,-0.176,1036.0,178.9900,96.303,109.32,1.2960,52.57,20.80,...,374.0820,1090.533,330.4950,2506.74,119.80,934.30,2159.49,622.61,1269.34,75.32
928,148,1276.52,0.168,1588.0,185.8240,93.772,113.87,1.3130,52.47,11.16,...,381.0200,1092.306,331.8880,2445.61,131.54,1043.38,2071.01,579.65,1214.23,85.67
780,327,1178.25,0.212,788.0,238.6120,90.064,120.62,1.5520,57.12,14.80,...,326.5960,909.285,319.0260,1986.73,117.28,873.18,1835.04,440.00,1008.02,64.84
734,444,1251.32,-0.093,1084.0,286.4370,81.121,101.62,1.6320,97.19,19.11,...,308.5660,868.289,312.1250,1680.50,108.35,704.02,1952.17,699.29,781.71,56.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,302,839.00,-0.703,828.0,226.3200,80.683,90.06,1.5290,43.60,52.37,...,100.3590,450.458,226.4960,862.02,69.71,511.33,1728.14,453.46,381.84,41.62
121,736,311.45,0.326,1018.0,163.5400,113.920,128.02,1.4670,26.63,21.94,...,93.0400,285.883,135.4010,984.90,101.50,678.70,583.32,292.10,149.99,17.38
1044,18,1543.58,-0.086,763.0,183.6410,97.372,110.10,1.3020,58.23,12.39,...,414.0670,1216.952,357.6810,3130.40,140.90,1052.83,2338.03,836.33,1397.27,89.41
1095,83,1950.23,0.241,1418.0,171.7048,89.436,102.65,1.3633,49.93,25.34,...,420.9469,1286.191,398.7065,3640.58,132.78,1098.30,1846.81,683.94,1636.95,111.33
860,917,1355.01,-0.099,692.0,189.6600,96.166,101.52,1.3050,46.60,15.58,...,341.5390,1017.111,324.5890,1987.42,109.86,754.46,1464.95,479.82,1018.60,55.41

In [41]:
from sklearn.metrics import accuracy_score, classification_report

import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

In [42]:
def evaluate_and_save_model(model, X_train, X_test, y_train, y_test):
  model.fit(X_train, y_train)
  y_pred = model.predict(X_test)
  accuracy = accuracy_score(y_test, y_pred)
  print(f"{model.__class__.__name__} Accuracy: {accuracy}")
  print(f"\n Classification Report:\n{classification_report(y_test, y_pred)}")
  print("------------")

In [43]:
xgb_model = xgb.XGBClassifier(random_state=42)
evaluate_and_save_model(xgb_model, X_train, X_test, y_train, y_test)

dt_model = DecisionTreeClassifier(random_state=42)
evaluate_and_save_model(dt_model, X_train, X_test, y_train, y_test)

rf_model = RandomForestClassifier(random_state=42)
evaluate_and_save_model(rf_model, X_train, X_test, y_train, y_test)

gb_model = GradientBoostingClassifier(random_state=42)
evaluate_and_save_model(gb_model, X_train, X_test, y_train, y_test)

XGBClassifier Accuracy: 0.905829596412556

 Classification Report:
              precision    recall  f1-score   support

           0       0.92      0.96      0.94       177
           1       0.82      0.70      0.75        46

    accuracy                           0.91       223
   macro avg       0.87      0.83      0.85       223
weighted avg       0.90      0.91      0.90       223

------------
DecisionTreeClassifier Accuracy: 0.8789237668161435

 Classification Report:
              precision    recall  f1-score   support

           0       0.93      0.92      0.92       177
           1       0.70      0.72      0.71        46

    accuracy                           0.88       223
   macro avg       0.81      0.82      0.82       223
weighted avg       0.88      0.88      0.88       223

------------
RandomForestClassifier Accuracy: 0.9103139013452914

 Classification Report:
              precision    recall  f1-score   support

           0       0.92      0.97      0.94       177
           1       0.84      0.70      0.76        46

    accuracy                           0.91       223
   macro avg       0.88      0.83      0.85       223
weighted avg       0.91      0.91      0.91       223

------------
GradientBoostingClassifier Accuracy: 0.8878923766816144

 Classification Report:
              precision    recall  f1-score   support

           0       0.91      0.95      0.93       177
           1       0.78      0.63      0.70        46

    accuracy                           0.89       223
   macro avg       0.85      0.79      0.81       223
weighted avg       0.88      0.89      0.88       223

------------